.te_browsetweak_infobutton,
.te_browsetweak_readbutton {
    position: absolute;
    border: 3px solid #fff;
    bottom: 10px;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 17px;
    color: #fff;
    width: 42.5%;
    display: inline-block;
    text-decoration: none
}
.te_browsetweak_readbutton {
    right: 0
}
.te_browsetweak_infobutton:focus,
.te_browsetweak_readbutton:focus {
    text-decoration: none
}
.te_browsetweak_infobutton:hover,
.te_browsetweak_infobutton:visited,
.te_browsetweak_readbutton:hover,
.te_browsetweak_readbutton:visited {
    background-color: #22a7f0;
    color: #fff;
    text-decoration: none
}
.te_browsetweak_infobutton {
    left: 0
}